<%= form_for wiki_collaborators_path do |form| %>
  <table class="table table-striped">
    <caption>Add collaborators to the wiki (All users)</caption>
    <thead>
      <tr>
        <th>Email</th>
        <th>Give Access?</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <div>
              <%= check_box_tag :collaborator_ids, user.id, @wiki.collaborators.include?(user), :name => 'wiki[collaborators][]' -%>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= submit_tag %>
  </div>
<% end %>
