  <table class="table table-striped">
    <caption>Add collaborators to the wiki (All users)</caption>
    <thead>
      <tr>
        <th>Email</th>
        <th>Give Access</th>
        <th>Remove Access</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <div>
              <td>
                <% if @wiki.users.exclude?(user) %>
                  <%= button_to "Add as Collaborator", wiki_collaborators_path(@wiki, user), method: :create, params: { user_id: user.id } %>
                <% end %>
              </td>
            </div>
            <div>
              <td>
                <% if @wiki.users.include?(user) %>
                  <%= button_to "Delete Collaborator", wiki_collaborator_path(@wiki, user), method: :delete, params: { user_id: user.id } %>
                <% end %>
              </td>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
  <%= link_to 'Back to Wikis index', wikis_path, method: :get %>
  </div>
