<h1>Collaborations</h1>

<table>
  <tbody>
    <% @collaborators.each do |wiki| %>
      <tr>
        <td><%= wiki.title %></td>
        <td><%= link_to 'Show', wiki %></td>
        <% if policy(wiki).update? %>
        <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
        <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
